doctype html
html
  head
    title= 'Haystack'
    link(rel='stylesheet', href='/bundles/style/app.css')
    // prefetch fonts
    link(rel='preload', as='font', href='/fonts/titillium-web-v5-latin-300.woff2')
    link(rel='preload', as='font', href='/fonts/titillium-web-v5-latin-regular.woff2')
    link(rel='preload', as='font', href='/fonts/titillium-web-v5-latin-600.woff2')
    link(rel='preload', as='font', href='/fonts/titillium-web-v5-latin-700.woff2')
    link(rel='preload', as='font', href='/fonts/themify.woff')

  body
    #root
    script.
        var haystackUiConfig = {
            subsystems: !{JSON.stringify(subsystems || [])},
            gaTrackingID: !{JSON.stringify(gaTrackingID || '')},
            fieldKeys: !{JSON.stringify(fieldKeys || '')},
            enableServicePerformance: !{JSON.stringify(enableServicePerformance || false)},
            enableServiceLevelTrends: !{JSON.stringify(enableServiceLevelTrends || false)},
            services: !{JSON.stringify(services || null)},
            enableSSO: !{JSON.stringify(enableSSO || false)},
            alertsRefreshInterval: !{JSON.stringify(alertsRefreshInterval)}
        }
    script(async, defer, src='/bundles/js/app.js')
    script(async, defer, src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')